{% extends "@Core/Default/layout.html.twig" %}

{% block body %}
    {{ app.user }}
    <!-- Page content -->
    <div class="no-padding content-area no-sidebar" id="primary">
        <div class="container-fluid">
            <div class="row">
                <div class="entry-content">
                    <!-- Section1 - BitWallet One Page -->
                    <div class="clearfix"></div>
                        <div id="to_initial" class="padding_top-80 cryptic_one_page data_background" data-background="/bundles/front/assets/images/background-2.png">
                            <div class="padding_80 text-center">
                                <div class="container">
                                    <div class="row vc_row-has-fill">
                                        <div class="spacer_80"></div>
                                        <div class="col-sm-9 col-md-6">
                                            <h1 class="wow fadeInDown wpb_start_animation">Landing Page for<br /> Initial Coin Offering</h1>
                                            <h3 class="wow fadeInDown wpb_start_animation">Minimum purchase is 50 Coins tokens. Get a bonus<br /> from 5% to 25% on every token purchase</h3>
                                            <h2 class="wow fadeInDown wpb_start_animation">SECOND STEP CLOSING IN</h2>
                                          
                                            <div class="spacer_30"></div>
                                            <div class="text-right bitwallet-btn modeltheme_button wow fadeInLeft wpb_start_animation">
                                                <a href="{{ path('fos_user_security_login') }}" class="button-winona btn btn-medium btn_custom_blue_grad">Connexion</a>
                                            </div>
                                            <div class="text-left bitwallet-btn modeltheme_button wow fadeInLeft wpb_start_animation">
                                                <a href="{{ path('fos_user_registration_register') }}" class="button-winona btn btn-medium btn_to_whitepaper">Inscription</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                        <div class="spacer_80"></div>
                                        <div class="spacer_80"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="video-background high-margin data_background" data-background="assets/images/bitcoin.jpg">
                            <div class='video-bg'></div>
                            <a class="player" data-property="{videoURL:'6OTG8E_mtcE',containment:'.video-bg',autoPlay:true, mute:true, startAt:0,opacity:1,ratio:'16/9',showControls:false,showYTLogo:false,quality:'hd1080'}"></a>
                        </section>
                    <!-- Section6 - BitWallet Testimonials -->
                    <div class="clearfix"></div>
                    <div id="to_testimonial" class="padding_top-80 text_center page-fill">
                        <div class="container">
                            <div class="row">
                                <div class="testimonials02-container wow fadeIn">
                                    <div class="row">
                                        <div class="item col-md-12 relative">
                                            <div class="testimonials_all_holder">
                                                <div class="testimonial02-text-holder">
                                                    <div class="testimonial02-content">
                                                        <div class="testimonial02_text">
                                                            <div class="testimonial02_rating_titles col-md-12">
                                                                <h4 class="testimonial02_title col-md-6 text-white">Thomas Moriz</h4>
                                                                <div class="testimonial02_stars col-md-6 text-white"></div>
                                                            </div>
                                                            <div class="testimonial02_text_content col-md-12 text-left">
                                                                <p class="text-white">The support teams are very professional and friendly. Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier. The support teams are very professional and friendly.
                                                                    Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier.</p>
                                                            </div>
                                                            <h4 class="testimonial02_position col-md-12 text-white">Regional Manager</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="item col-md-12 relative">
                                            <div class="testimonials_all_holder">
                                                <div class="testimonial02-text-holder">
                                                    <div class="testimonial02-content">
                                                        <div class="testimonial02_text">
                                                            <div class="testimonial02_rating_titles col-md-12">
                                                                <h4 class="testimonial02_title col-md-6 text-white">Robert Downey</h4>
                                                                <div class="testimonial02_stars col-md-6 text-white"></div>
                                                            </div>
                                                            <div class="testimonial02_text_content col-md-12 text-left">
                                                                <p class="text-white">The support teams are very professional and friendly. Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier. The support teams are very professional and friendly.
                                                                    Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier.</p>
                                                            </div>
                                                            <h4 class="testimonial02_position col-md-12 text-white">General Director</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="item col-md-12 relative">
                                            <div class="testimonials_all_holder">
                                                <div class="testimonial02-text-holder">
                                                    <div class="testimonial02-content">
                                                        <div class="testimonial02_text">
                                                            <div class="testimonial02_rating_titles col-md-12">
                                                                <h4 class="testimonial02_title col-md-6 text-white">John Doe</h4>
                                                                <div class="testimonial02_stars col-md-6 text-white"></div>
                                                            </div>
                                                            <div class="testimonial02_text_content col-md-12 text-left">
                                                                <p class="text-white">The support teams are very professional and friendly. Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier. The support teams are very professional and friendly.
                                                                    Although I got quite intimidate by all settings and customisation of the theme, they helps make my life much easier.</p>
                                                            </div>
                                                            <h4 class="testimonial02_position col-md-12 text-white">Assistant Manager</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section7 - Clients -->
                    <div class="clearfix"></div>
                    <div class="padding_top-80 text_center page-fill">
                        <div class="container">
                            <div class="row">
                                <div class="wow fadeIn mt_clients_slider clients_container_shortcode-5 owl-carousel owl-theme">
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client2.png" alt="Client6" /></div>
                                        </div>
                                    </div>
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client1.png" alt="Client5" /></div>
                                        </div>
                                    </div>
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client2.png" alt="Client4" /></div>
                                        </div>
                                    </div>
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client1.png" alt="Client3" /></div>
                                        </div>
                                    </div>
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client2.png" alt="Client2" /></div>
                                        </div>
                                    </div>
                                    <div class="clients_image_holder post">
                                        <div class="item col-md-12">
                                            <div class="clients_image_holder_inside post no-margin"><img class="client_image" src="assets/images/home_shop_client1.png" alt="Client1" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Section 8 - NEWS -->
                    <div class="clearfix"></div>
                    <div class="bitwallet_blanks padding_top-80 page-fill">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-subtile-holder wow fadeIn text_center no-padding">
                                        <h1 class="section-title light_title no-margin">NEWS</h1>
                                        <div class="spacer_10"></div>
                                        <div class="clearfix"></div>
                                        <div class="section-border green_border no-margin"></div>
                                        <div class="spacer_10"></div>
                                        <div class="section-subtitle light_subtitle">
                                            It’s an ever-changing business. To stay on top of the   <br> game, don’t forget to keep yourself in the know.
                                        </div>
                                    </div>
                                    <div class="spacer_80"></div>
                                    <div class="blog-posts simple-posts blog-posts-shortcode wow fadeIn">
                                        <div class="row">
                                            {% for lastArticle in lastArticles %}
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <article class="single-post list-view  no-padding no-margin">
                                                    <div class="blog_custom">

                                                        <!-- POST THUMBNAIL -->
                                                        <div class="col-md-12 post-thumbnail">
                                                            <a class="relative" href="#"><img class="blog_post_image" src="{{ asset(lastArticle.image.webPath) }}" alt="What is Bitcoin Mining" /></a>
                                                            <span class="time-n-date">{{lastArticle.date|date('d M')}}</span>
                                                        </div>

                                                        <!-- POST DETAILS -->
                                                        <div class="post-details col-md-12">

                                                            <div class="title-n-excerpt">
                                                                <h3 class="post-name row">
                                                                    <a href="{{ path('view_article', {'idArticle' : lastArticle.id })}}" title="What is Bitcoin Mining">{{ lastArticle.content|striptags|truncate(30)|raw}}</a>
                                                                </h3>
                                                                <div class="post-excerpt row">
                                                                    <p>{{ lastArticle.content|striptags|truncate(100)|raw}}</p>
                                                                </div>
                                                            </div>

                                                            <div class="text-element content-element">
                                                                <p class="author">Post by <a href="#">Robert Downey</a></p>
                                                                <p class="comments">Comments <a href="#">1</a></p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </article>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section8 BitWallet - Know Your Customer -->
                    <div class="clearfix"></div>
                    <div class="padding_top-80 text_center page-fill">
                        <div class="container">
                            <div class="row decentralized-customer">
                                <h2 class="wow fadeIn">Know Your Customer</h2>
                                <h3 class="wow fadeIn">Nemo enim ipsam voluptatem quia voluptas<br /> odit aut fugit, sed quia consequ.</h3>
                                <div class="spacer_30"></div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="decentralized-svg-version">
                                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-335" method="post" data-id="335" data-name="newsletter">
                                                <div class="mc4wp-form-fields">
                                                    <div class="newsletter">
                                                        <div class="c-sign-up-form-input">
                                                            <input type="email" name="EMAIL" placeholder="Insert your email" required />
                                                        </div>
                                                        <input type="submit" value="Submit" />
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- / MailChimp  -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="spacer_80"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BACK TO TOP BUTTON -->
    <a class="back-to-top-one-page back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>

    <!-- TICKERS DARK -->
    <div class="tickers-black-sm crypto-ticker">
        <ul id="webticker-dark-icons">
            {% for coin in CoinFooter %}
                <li data-update="item1"><i class="cc {{coin.symbol}}"></i> {{coin.symbol}} <span class="coin-value"> {{coin.quote.EUR.price|round(2)}} €</span></li>
            {% endfor %}
        </ul>
    </div>

    <!-- FOOTER -->
    <footer>
        <!-- FOOTER BOTTOM -->
        <div class="footer-div-parent cryptic-footer-one-page">
            <div class="container-fluid footer">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        <a href="#">Cryptocurrency  Template</a> by ModelTheme. 2018 All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="spacer_40"></div>
</div><!-- end HEADER -->
{% endblock body %}