{% extends "@Core/Default/layout.html.twig" %}

{% block body %}
    {{ app.user }}
    <!-- Page content -->
    <div class="no-padding content-area no-sidebar" id="primary">
        <div class="container-fluid">
            <div class="row">
                <div class="entry-content">
                    <!-- Section1 - BitWallet One Page -->
                    <div class="clearfix"></div>
                        <div id="to_initial" class="padding_top-80 cryptic_one_page data_background" style="background-size: 50%;" data-background="/bundles/front/assets/images/cyptex.gif">
                            <div class="padding_80 text-center">
                                <div class="container">
                                    <div class="row vc_row-has-fill">
                                        <div class="spacer_80"></div>
                                        <div class="col-sm-9 col-md-6">
                                            <h1 class="wow fadeInDown wpb_start_animation">La crypto monnaie<br /> pour les entreprises</h1>
                                            <h3 class="wow fadeInDown wpb_start_animation">Pourquoi est-ce la monnaie de l'avenir ? <br/>
                                                Les avantages et inconvénients pour une entreprise</h3>
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                            <h2 class="wow fadeInDown wpb_start_animation">REJOINS LE BLOG</h2>
                                          
                                            <div class="spacer_30"></div>
                                            <div class="text-right bitwallet-btn modeltheme_button wow fadeInLeft wpb_start_animation">
                                                <a href="{{ path('fos_user_security_login') }}" class="button-winona btn btn-medium btn_custom_blue_grad">Connexion</a>
                                            </div>
                                            <div class="text-left bitwallet-btn modeltheme_button wow fadeInLeft wpb_start_animation">
                                                <a href="{{ path('fos_user_registration_register') }}" class="button-winona btn btn-medium btn_to_whitepaper">Inscription</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                        <div class="spacer_80"></div>
                                        <div class="spacer_80"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section3 - BitWallet onBlockchain -->
                    <div class="clearfix"></div>
                    <div id="to_products" class="padding_top-80 text_center page-fill">
                        <div class="container desktop-padding" style="background-color: rgba(255, 255, 255, 1); width: 100%;">
                            <div class="row vc_row-has-fill">
                                <div class="col-sm-6">
                                    <div class="title-subtile-holder wow fadeInLeft text_left">
                                        <h1 class="section-title light_title no-margin" style="color: #171055">La cryptomonnaie et l'économie</h1>
                                        <div class="spacer_10"></div>
                                        <div class="clearfix"></div>
                                        <div class="section-border green_border no-margin"></div>
                                        <div class="spacer_10"></div>
                                        <div class="section-subtitle light_subtitle" style="width: auto;">
                                        <p style="color: #171055">
                                            Elle donne le pouvoir d’émettre de la monnaie (crypto-monnaie) sans passer par des banques, d’effectuer des transactions sans passer par des réseaux de paiement comme VISA, CB, le tout de manière sécurisée et c’est une révolution. Mais le plus important ne se trouve peut être pas là …
                                        </p>
                                    </div>
                                    </div>
                                    <div class="spacer_40"></div>
                                    <div class="text-center bitwallet-btn modeltheme_button wow fadeInLeft">
                                        <a href="#" class="button-winona btn btn-medium btn_custom_blue_grad">EN SAVOIR PLUS</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <figure class="fadeInRight wow">
                                        <img width="520" height="415" src="/bundles/front/assets/images/Vector-Smart-Object10.png" class="fadeInRight wow" alt="Vector-Smart-Object10"/>
                                    </figure>
                                </div>
                                <div class="spacer_80"></div>
                                <div class="clearfix"></div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text wow fadeIn">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <span class="sep_line"></span>
                                        </span>
                                    <span class="vc_sep_holder vc_sep_holder_r">
                                            <span class="sep_line"></span>
                                        </span>
                                </div>
                                <div class="spacer_50"></div>
                                <div class="col-sm-6 vc_col-has-fill">
                                    <div class="wpb_single_image wpb_content_element vc_align_left wow fadeInLeft">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                <img width="335" height="450" src="/bundles/front/assets/images/Vector-Smart-Object9.png" class="vc_single_image-img attachment-full" alt="Vector-Smart-Object9" />
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="title-subtile-holder wow fadeInRight text_left" >
                                        <h1 class="section-title light_title no-margin" style="color: #171055">L'essor des crypto-monnaies'</h1>
                                        <div class="spacer_10"></div>
                                        <div class="clearfix"></div>
                                        <div class="section-border green_border no-margin"></div>
                                        <div class="spacer_10"></div>
                                        <div class="section-subtitle light_subtitle" style="width: auto;">
                                            <p style="color: #171055; word-wrap: break-word;" >
                                                Plus de deux tiers (68%) des professionnels du secteur financier considèrent que les grandes entreprises auront de plus en plus recours à la crypto-monnaie. Parmi les raisons invoquées, 68% anticipent que cela sera par l’intermédiaire de smart contracts (protocoles informatiques qui facilitent et exécutent les contrats) et autres technologies blockchain, 54% estiment que c’est un moyen pertinent de levée de fonds, enfin 50% considèrent que cela leur permettra de régler leurs fournisseurs.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="spacer_40"></div>
                                    <div class="text-center bitwallet-btn modeltheme_button wow fadeInRight">
                                        <a href="#" class="button-winona btn btn-medium btn_custom_blue_grad">EN SAVOIR PLUS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                     Section4 - BitWallet OUR ROADMAP
                    <div class="clearfix"></div>
                    <div id="to_roadmap" class="cryptic_ico_our_roadmap padding_top-80 text-center page-fill">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-subtile-holder wow  ">
                                        <h1 class="section-title light_title no-margin">DATE IMPORTANTE</h1>
                                        <div class="spacer_10"></div>
                                        <div class="clearfix"></div>
                                        <div class="section-border green_border no-margin"></div>
                                        <div class="spacer_10"></div>
                                        <div class="section-subtitle light_subtitle">Toutes les dates importantes d'une crypto monnaie principale, le BITCOIN</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer_80"></div>
                        <div class="clearfix"></div>
                        <section class="timelinehorizontal horizontal_timeline wow fadeIn">
                            <ol>
                                <li>
                                    <div class="first-box">
                                        <p class="time text-left">March 21, 2016</p>
                                        <h3 class="text-left">New York Pre-ICO</h3>
                                        <p class="text-left">Token Sale<br /> Initial Platform Development<br /> BitWallet (the game) design complete</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p class="time text-left">January 14, 2016</p>
                                        <h3 class="text-left">Distribution &amp; Node</h3>
                                        <p class="text-left">BitWallet official launch<br /> BitWallet community functionality<br /> Platform and all games localized into 5+ languages</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">April 6, 2016</p>
                                        <h3 class="text-left">Infinity Platform</h3>
                                        <p class="text-left">BitWallet wallet launch<br /> BitWallet (the game) official launch<br /> BitWallet platform opens to 3rd party developer</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">November 7, 2016</p>
                                        <h3 class="text-left"> Listed on Exchange</h3>
                                        <p class="text-left">10-12 blockchain games launched on platform<br /> Platform and all games localized into 15+ languages</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">January 2, 2017</p>
                                        <h3 class="text-left">Genesis Block</h3>
                                        <p class="text-left">Migration to next-generation blockchain<br /> 15-30 blockchain games launched on platform</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">March 7, 2017</p>
                                        <h3 class="text-left">Integration</h3>
                                        <p class="text-left">Integration of interoperable unified health records, zero-knowledge storage, and blockchain permissions.</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">April 25, 2017</p>
                                        <h3 class="text-left">Network Expansion</h3>
                                        <p class="text-left">BitWallet Network system support and adoption of value-added services. Design and execution of crypto certified clinics.</p>
                                    </div>
                                </li>
                                <li>
                                    <div><p class="time text-left">May 13, 2017</p>
                                        <h3 class="text-left">Development</h3>
                                        <p class="text-left">The BitWallet Network was introduced to the public in order to address common downfalls of inoperable medical systems.</p>
                                    </div>
                                </li>
                            </ol>
                        </section>
                    </div> -->
                    <!--Section 8 - NEWS -->
                    <div class="clearfix"></div>
                    <div class="bitwallet_blanks padding_top-80 page-fill">
                        <div class="container" style="width: 100%; padding: 20px 15% 30px 15%;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-subtile-holder wow fadeIn text_center no-padding">
                                        <h1 class="section-title light_title no-margin">Derniers articles</h1>
                                        <div class="spacer_10"></div>
                                        <div class="clearfix"></div>
                                        <div class="section-border green_border no-margin"></div>
                                        <div class="spacer_10"></div>
                                        <div class="section-subtitle light_subtitle">
                                            Voici toutes les dernières actualités concernant les cryptomonnaies
                                        </div>
                                    </div>
                                    <div class="spacer_80"></div>
                                    <div class="blog-posts simple-posts blog-posts-shortcode wow fadeIn">
                                        <div class="row">
                                            {% for lastArticle in lastArticles %}
                                            <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
                                                <article class="single-post list-view  no-padding no-margin">
                                                    <div class="blog_custom">

                                                        <!-- POST THUMBNAIL -->
                                                        <div class="col-md-12 post-thumbnail">
                                                            <a class="relative" href="#"><img style="width: 100%; height:150px" class="blog_post_image" src="{{ asset(lastArticle.image.webPath) }}" alt="What is Bitcoin Mining" /></a>
                                                            <span class="time-n-date">{{lastArticle.date|date('d M')}}</span>
                                                        </div>

                                                        <!-- POST DETAILS -->
                                                        <div class="post-details col-md-12">

                                                            <div class="title-n-excerpt" style="height: 200px;">
                                                                <h3 class="post-name row">
                                                                    <a href="{{ path('view_article', {'idArticle' : lastArticle.id })}}" title="What is Bitcoin Mining">{{ lastArticle.content|striptags|truncate(50)|raw}}</a>
                                                                </h3>
                                                                <div class="post-excerpt row">
                                                                    <p>{{ lastArticle.content|striptags|truncate(100)|raw}}</p>
                                                                </div>
                                                            </div>

                                                            <div class="text-element content-element">
                                                                <p class="author">Post by <a href="#">Robert Downey</a></p>
                                                                <p class="comments">Comments <a href="#">1</a></p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </article>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section8 BitWallet - Know Your Customer -->
                    <div class="clearfix"></div>
                    <div class="padding_top-80 text_center page-fill" style="background-color: rgb(255,255,255);">
                        <div class="container">
                            <div class="row decentralized-customer">
                                <h2 class="wow fadeIn" style="color:#171055">Newsletter</h2>
                                <h3 class="wow fadeIn"  style="color:#171055">Restons connectés, inscris toi aux news</h3>
                                <div class="spacer_30"></div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="decentralized-svg-version">
                                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-335" method="post" data-id="335" data-name="newsletter">
                                                <div class="mc4wp-form-fields">
                                                    <div class="newsletter">
                                                        <div class="c-sign-up-form-input" style="color: white">
                                                            <input type="email" name="EMAIL" placeholder="Adresse email..." required />
                                                        </div>
                                                        <input type="submit" value="Envoyer" />
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- / MailChimp  -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="spacer_80"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BACK TO TOP BUTTON -->
    <a class="back-to-top-one-page back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>

    <!-- TICKERS DARK -->
    <div class="tickers-black-sm crypto-ticker">
        <ul id="webticker-dark-icons">
            {% for coin in CoinFooter %}
                <li data-update="item1"><i class="cc {{coin.symbol}}"></i> {{coin.symbol}} <span class="coin-value"> {{coin.quote.EUR.price|round(2)}} €</span></li>
            {% endfor %}
        </ul>
    </div>

    <!-- FOOTER -->
    <footer>
        <!-- FOOTER BOTTOM -->
        <div class="footer-div-parent cryptic-footer-one-page">
            <div class="container-fluid footer">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        <a href="#">Cryptocurrency  Template</a> by ModelTheme. 2018 All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="spacer_40"></div>
</div><!-- end HEADER -->
{% endblock body %}